body {
	font-family: sans-serif;
	background-color: #000;
	color: #DDD;
}

body *{
	background: none;
	color: #DDD;
}

#data-container {
	width: 600px;
	min-height: 400px;
	height: 97vh;
}

#data{
	table-layout: fixed;
	width: 100%;
	height: 98%;
	border: rgba(0, 0, 0, 0) 1px solid;
	border-collapse: collapse;
	margin: 0px;
	margin-right: 300px;
	padding: 0px;
	font-size: 10.5pt;

}
#data *{
	//border: rgba(0, 0, 0, 0.3) 1px solid !important; //DEBUG 
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	line-height: 120%;
}

#data div.img-container{
	display: inline-block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-align: center;
}

#data .img-container img{
	display: inline-block;
	//display: none; //DEBUG
	max-height: 24px;
	max-width: 24px;
	opacity: 0.8;
}

#data thead tr{
	display: block;
	position: relative;
	height: 20pt;
	vertical-align: top;
} 
#data th {
	cursor: pointer;
	color: rgba(180,80,40,1) !important;
	text-align: center !important;
}
#data th:hover{
	color: rgba(240,100,30,1) !important;
}
th span {
	display: block;
	line-height: 2pt;
}
#data tbody {
	display: block;
	overflow: auto;
	height: 99%;
}

#data tbody td *{
	vertical-align: middle !important;
}

#data tr:hover td{
	background-color: rgba(180,80,40,0.10);
	opacity: 1.0;
	color: #FFF;
}

#data td span {
	display: none;
}

#data td:nth-child(9), #data td:nth-child(10), #data td:nth-child(11),
#data th:nth-child(1), #data th:nth-child(5), #data th:nth-child(9), #data th:nth-child(10), #data th:nth-child(11)
{
	display: none;
}

#data td:nth-child(1), #data td:nth-child(5){
	width: 28px;
	//background-color: #999; //DEBUG
}

#data td:nth-child(2), #data td:nth-child(6){
	width: 190px;
	//background-color: #77B; //DEBUG
}

#data th:nth-child(2), #data th:nth-child(6){
	width: 220px;
	//background-color: #995; //DEBUG	
}


#data td:nth-child(3), #data td:nth-child(4), #data th:nth-child(3), #data th:nth-child(4),
#data td:nth-child(7), #data td:nth-child(8), #data th:nth-child(7), #data th:nth-child(8)
{
	text-align: center;
	width: 24px;
	opacity: 0.75;
	//background-color: #887; //DEBUG	
}
	
#rFloater {
	/*background-color: blue;*/
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2;
	padding: 4px;
	width: 300px;
	height: 100%;
}
.filters {
	/*background-color: cyan;*/
	z-index: 3;
}
.filters *{
	margin: 0px; 
	padding: 0px;
	z-index: 4;	
	border: none;
	border-bottom: rgba(180,80,40,0.30) 1px solid;
}
#filterGoods, #filterPrice, #filterInfo {
	width: 296px;
}
#filterQmin, #filterQmax, #filterLmin, #filterLmax, #filterPQmin, #filterPQmax, #filterPAMTmin, #filterPAMTmax {
	width: 64px;
}
#filterLmin, #filterPAMTmin{
	margin-left: 28px;
}

#lot {
	font-size: 85%;
}

#lot * {
	margin: 0px;
	padding: 0px;
	//border: rgba(0, 0, 0, 0.2) 1px solid !important; //DEBUG 
}

	#lot-details{
		max-height: 24vh !important;
		//background-color: silver; //DEBUG
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: 1.0ex;
		margin-bottom: 1.0ex;
		margin-left: 0.5ex;
		color: #DDD;
		font-size: 90%;
	}

	#lot img{
		display: inline;
		max-height: 48px;
	}

	#lot .img-container{
		width: 64px;
		max-height: 48px;
		overflow: hidden;
		margin-top: 8px;
	}

	#lot ul{
		margin-bottom: 0.2ex;
		list-style-type: none;
		text-indent: 8pt;
	}

		#lot ul li{
			line-height: 94%;
		}
	
	#lot ul.plain{
		text-indent: 0pt;
	}
	
	#lot ul.plain *{
		display: inline;
	}

	#lot h1{
		font-size: 109%;
	}

	#lot h3{
		//font-weight: normal;
		font-size: 70%;
		text-align: left;
		opacity: 0.85;
	}

	#lot-price{
		color: rgba(240,100,30,1) !important;
	}


#mapContainer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 300px;
	height: 300px;
	background: url("mapBG_dark.png") no-repeat;
	z-index: 5;
}
#mapSVG {
	width: 100%;
	height: 100%;
	z-index: 6;
}
