body {
	font-family: sans-serif;
}

#data-container {
	width: 600px;
	height: 97vh;
}

#data{
	table-layout: fixed;
	width: 100%;
	height: 98%;
	border: rgba(0, 0, 0, 0) 1px solid;
	border-collapse: collapse;
	margin: 0px;
	margin-right: 300px;
	padding: 0px;
	font-size: 11pt;

}
#data *{
	/*		border: rgba(0, 0, 0, 0.3) 1px solid !important; table layou visual debug */
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
	line-height: 120%;
}
#data thead tr{
	display: block;
	position: relative;
	height: 20pt;
	vertical-align: top;
} 
#data th {
	cursor: pointer;
	color: #000 !important;
	text-align: center !important;
}
#data th:hover{
	color: rgba(255,80,0,1) !important;
}
th span {
	display: block;
	line-height: 2pt;
}
#data tbody {
	display: block;
	overflow: auto;
	height: 99%;
}
#data tr:hover td{
	background-color: rgba(255,160,0,0.2);
}
#data td span {
	display: none;
}
/*
#data tr:hover td span{
	display: block;
	font-size: 80%;
	opacity: 0.9;
	line-height: 9pt;
	text-indent: 5pt;
}*/
#data td:nth-child(7), #data th:nth-child(7), #data td:nth-child(8), #data th:nth-child(8), #data td:nth-child(9), #data th:nth-child(9) {
	display: none;
}
#data td:nth-child(1), #data td:nth-child(4), #data th:nth-child(1), #data th:nth-child(4){
	width: 14em;
}
#data td:nth-child(3), #data td:nth-child(6), #data th:nth-child(3), #data th:nth-child(6),
#data td:nth-child(2), #data td:nth-child(5), #data th:nth-child(2), #data th:nth-child(5){
	text-align: right;
	width: 2em;
	color: #666;
}	
#data th:nth-child(4), #data td:nth-child(4) {
	border-left: rgba(0, 0, 0, 0) 16px solid;
}

#rFloater {
	/*background-color: blue;*/
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 2;
	padding: 4px;
	width: 300px;
	height: 100%;
}
.filters {
	/*background-color: cyan;*/
	z-index: 3;
}
.filters *{
	margin: 0px; 
	padding: 0px;
	z-index: 4;	
	border: none;
	border-bottom: rgba(0,0,0,0.3) 1px solid;
}
#filterGoods, #filterPrice, #filterInfo {
	width: 296px;
}
#filterQmin, #filterQmax, #filterLmin, #filterLmax, #filterPQmin, #filterPQmax, #filterPAMTmin, #filterPAMTmax {
	width: 64px;
}
#filterLmin, #filterPAMTmin{
	margin-left: 28px;
}


#lot {
}

#lot * {
	margin: 0px;
	padding: 0px;
}

	#lot ul{
		margin-bottom: 0.8ex;
		list-style-type: none;
		text-indent: 12pt;
		}

		#lot ul li{
			line-height: 95%;
		}
	
	#lot ul.plain{
		text-indent: 0pt;
	}
	
	#lot ul.plain *{
		display: inline;
		}

	#lot h1{
		margin-top: 2ex;
		/*font-weight: normal;*/
		font-size: 120%;
	}
	#lot h3{
		font-weight: normal;
		font-size: 75%;
		text-align: left;
		opacity: 0.66;
	}

	#lot div{
		margin-top: 1ex;
		font-size: 90%;
	}

	#lot-price{
		color: rgba(255,80,0,1) !important;
	}

	#lot-details{
		margin-top: 2ex;
		margin-left: 0.5ex;
		color: rgba(64,64,64,1) !important;
		font-family: 75%;
	}

#mapContainer {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 300px;
	height: 300px;
	background: url("mapBG.png") no-repeat;
	z-index: 5;
}
#mapSVG {
	width: 100%;
	height: 100%;
	z-index: 6;
}
