::-webkit-scrollbar-track
{
	background: rgba(128, 128, 128, 0.0);
	border: rgba(128, 128, 128, 0.25) 1px solid;
}

::-webkit-scrollbar-track:hover
{
	background: rgba(128, 128, 128, 0.1);
}

::-webkit-scrollbar-thumb 
{
	background: rgba(180,80,40,0.3);
	border: rgba(180,80,40,0.2) 1px solid;
}

::-webkit-scrollbar-thumb:hover 
{
	background: rgba(180,80,40,0.6); 
}

body 
{
	background-color: #000;
	color: #DDD;
}

body *
{
	color: #DDD;
}

.zebra 
{
  background-color:rgba(128, 128, 128, 0.13);
}

#data th 
{
	color: rgba(180,80,40,1) !important;
}

#data th:hover
{
	color: rgba(240,100,30,1) !important;
}

#data tr:hover td
{
	background-color: rgba(180,80,40,0.10);
	color: #FFF;
}

.filters *
{
	border-bottom: rgba(192,192,192,0.4) 1px solid;
}

.filters ::placeholder
{
	color: rgba(192,192,192,0.4);
}

.filters :-ms-input-placeholder
{
	color: #555;
}

#lot-details
{
	color: #DDD;
}

#lot-price
{
	color: rgba(240,100,30,1) !important;
}

#mapContainer 
{
	background: url("mapBG_dark.png") no-repeat;
}