/*
#AAA - mono stroke
#888 - mono tip

#421 - fill
#1C3B46 - stroke
#1C3B46 - accent

#000000 - even row BG
#0D1519 - main BG
#2A373D - hili BG
#A39F96 - main text
#F5DBCE - hili text
*/

body 
{
	background-color: #0D1519;
	color: #ADA89E;
}

body *
{
	color: #ADA89E;
}

#data-headers
{
	background-color: #0D1519;
}


#data th 
{
	color: color: #ADA89E !important;
}

#data-headers .hdr:hover
{
	color: #FAE4D9 !important;
}

#data tbody tr:nth-child(even)
{
	background-color:#000000;
}

#data tr:hover td
{
	background-color: #1C3B46;
	color: #FAE4D9;
}

.dropdownList
{
	background-color: #000000 !important;
	border: #888 1px solid !important;
}

.dropdownList div:hover 
{
	background-color: #1C3B46;
	color: #FAE4D9 !important;
}

#filters>*
{
	border-bottom: #888 1px solid;
}

#filters>*:focus {
	border-bottom: #AAA 1px solid;
}

#filters input::-webkit-input-placeholder 
{
	color: #888;
}

#filters input :-ms-input-placeholder  
{
	color: #888;
}

#lot-details *
{
	color: #ADA89E;
}

#lot-details h4
{
	color: #FAE4D9;
}

#lot-price
{
	color: #FAE4D9 !important;
}

#mapContainer 
{
	background: url("gfx/mapBG_dark.png") no-repeat;
}

	#mapSVG .SVGstand {
		fill: #777;
	}
	
	#mapSVG .SVGmarker {
		fill: #FAE4D9;
		stroke: #000;
	}