/*
#888 - mono stroke
#AAA - mono tip

#CDE - fill
#ACD - stroke
#06A - accent
*/

::-webkit-scrollbar-track
{
	background: none;
	border: #CDE 1px solid;
}

::-webkit-scrollbar-thumb 
{
	background: #CDE;
	border: #ACD 1px solid;
}

::-webkit-scrollbar-thumb:hover 
{
	border: #06A 1px solid;
	background: #ACD; 
}

body 
{
	background-color: #FFF;
	color: #222;
}

body *
{
	color: #222;
}

#data th 
{
	color: #000 !important;
}

#data th:hover
{
	color: #06A !important;
}

#data tbody tr:nth-child(even)
{
	background-color:#eee;
}

#filters 
{
	background-color: #FFF;
}

#filters *
{
	border: #FFF 1px solid;
	border-bottom: #AAA 1px solid;
}

#filters :focus {
	border-bottom: #444 1px solid;
}

#filters input::-webkit-input-placeholder 
{
	color: #AAA;
}

#filters :-ms-input-placeholder
{
	color: #AAA;
}

#btnClose svg, #buttons svg
{
	fill: #000;
}

#modalContentDetails 
{
	background-color: #FFF;
}

#lot-details *
{
	color: #444;
}

#lot-details h4
{
	color: #000;
}

#lot-price
{
	color: #06A !important;
}

#mapContainer 
{
	background: url("../gfx/mapBG.png") no-repeat;
}

	#mapSVG .SVGstand {
		fill: #06A;
	}
	
	#mapSVG .SVGmarker {
		fill: #ACD;
		stroke: #000;
	}