@media screen and (min-width: 680px)
{
	#rFloater 
	{
		position: fixed;
		top: 0px;
		right: 0px;
		z-index: 2;
		padding: 4px;
		width: 200px;
		height: 100%;
	}
}

@media screen and (max-width: 680px)
{

	#data-container 
	{
		height: 30vh;
		margin: auto;
	}

	#rFloater 
	{
		position: fixed;
		bottom: 0px !important;
		left: 0px !important;
		width: 100% !important;
		height: 300px !important;
		z-index: 2;
		padding: 4px;
	}	

	#filters 
	{
		position: relative;
		height: 200px;
	}
}